.app {
  --thickness: 20px;

  display: flex;
  align-items: center;
  
  justify-content: center;
  flex-direction: column;
  // width: calc(100% - 8vmin);
  // height: calc(100vh - 80vmin);

  width: 100%;
  height: 180px;

  // margin: 2vmin;


  border-radius: 10px;
  overflow: hidden;
  perspective: 1500px;

  &[data-current-media="book"] {
    // background: linear-gradient(to right, #56ab2f, #a8e063);

    .book-wrapper {
      display: block;
    }
 
  }
  
}

/**
* Wrapper component
*/

.media-container {
  &:hover .book {
    transform: rotateX(10deg) rotateY(-60deg);
  }

  &:hover .book-shadow {
    transform: rotateX(90deg) rotateZ(40deg);
  }

}

/**
* Wrapper component
*/

.book-wrapper {
  display: none;
}

/**
* Book component
*/

.book {
  position: relative;
  z-index: 1;
  
  transform-style: preserve-3d;
  transition: transform 1s ease;
  transform: rotateX(0deg) rotateY(-30deg);

  &__front {
    width: 90px;
    height: 120px;
    border-radius: 5px;
    overflow: hidden;
    transform: translateZ(calc(var(--thickness)));
  }

  &__back {
    width: 91px;
    height: 121px;
    position: absolute;
    top: 0;
    background: #9a9a9a;
    border-radius: 4px;
    overflow: hidden;
    transform: translateZ(calc(-1 * var(--thickness)));
  }

  &__paper {
    height: 100%;
    width: calc(var(--thickness) * 2);
    background: white;
    position: absolute;
    top: 1%;
    right: 0;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.3),
        rgba(255, 255, 257, 0)
      ),
      repeating-linear-gradient(
        90deg,
        white,
        #e2e2e2 1px,
        white 3px,
        #9a9a9a 1px
      );
    transform: rotateY(90deg) translateX(calc(var(--thickness) / 7))
      translateZ(calc(var(--thickness) / 1.2));
  }
}

.book-shadow {
  position: absolute;
  width: 400px;
  height: calc(100px + var(--thickness));
  background: radial-gradient(
    70% 85%,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: rotateX(90deg) rotateZ(30deg);
  transition: transform 1s ease;
  filter: blur(16px);
}


/**
* Range styling (taken from https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/)
*/

